body {
    background-color: #752929;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

p2 {
    color:    rgb(43, 20, 20);
    font-size: 0.90em;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 20px;
}

p1 {
    color:    rgb(43, 20, 20);
    font-size: 0.85em;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


input {
    font-size: 1em;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 100px;
    margin: 10px 0;
    width: 80%;
}
button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    background-color: #bcadad;
    color: #fff;
    cursor: pointer;
}

h1 {
    color: rgb(7, 3, 3);
    font-size: 3em;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-top: 20px;
   
}
img {
  display: inline-block;
  margin-right: 10px; /* space between images */
}

#results {
    margin-top: 30px;
    font-size: 1em;
    color: #121010;
     font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;  
    text-align: left;
    width: 80%;
    margin: 0 auto; 


}